@font-face{font-family:bold;src: url(https://ftm.guru/font/bold.ttf);}
@font-face{ font-family:italic;src: url(https://ftm.guru/font/italic.ttf);}
@font-face{ font-family:light;src: url(https://ftm.guru/font/light.ttf);}
@font-face{ font-family:light_italic;src: url(https://ftm.guru/font/light_italic.ttf);}
@font-face{ font-family:regular;src: url(https://ftm.guru/font/regular.ttf);}
@font-face{ font-family:regular_italic;src: url(https://ftm.guru/font/regular_italic.ttf);}
*{font-family:regular;}
*{
scroll-behavior: smooth !important;
}
body {
  background: #090909;
  background-image: url("https://ftm.guru/icons/bg_1.jpg");
  color: white;
  background-attachment: fixed;
  margin:auto;
  background-size: cover;
}
.body{
  margin: 8%
}
.topbar {
  background: #001337;
  width: calc(100%-10px);
  display:flex;
  flex-wrap: wrap;
  position:sticky;
  top:0;
  z-index: 1;
  border-bottom: 8px ridge #17082f
}
.topbar a, details a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bolder;
  margin: auto
}
.topbar a:first-child{font-size: 2em}
h1{font-size: 3em}
h2{}
h1,h2,h3{color:#32fbe2;}
button{
  border:2px solid #f0f;
  background: #17082f;
  color: white;
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #f37;
  transition: 0.25s;
}
button:hover{
  transform: translate(2px,-2px);
  font-size: 1.1em;
  transition: 0.25s;
}
button:active {
  transform: translate(0px,10px);
}
.lowerbar{
  font-size: 1.25em;
  font-weight: bolder;
}
.lowerbar a{
  font-size: 0.75em;
  font-weight: lighter;
  padding: 10px 10px 10px 0px;
  color:#32fbe2;
  text-decoration: none
}
.lowerbar img{width:24px;height:24px}
.lowerbar .subimg{width:16px;height:16px;position: relative;right:9px;top:4px;margin-right:-11px}
.cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
  margin:10px 20px 10px 0px;
  min-width: 220px;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  border: 1px dashed #fff;
  background:rgba(15,15,255,0.2);
}
.card hr{color: #fff;border:solid 2px}
.card sub{font-size: 1em}
.card sup{font-size: 1.5em}
.card:hover{
  transform: translate(5px,-5px);
  transition: 0.25s;
  box-shadow: -8px 8px 8px #000;
  border: 1px double #fff;
  background:rgba(21,42,255,1);
}
.card:hover hr{color: #fff;border:dashed 2px}
.card span{font-size: 2em}
.card a{text-decoration: none;color: inherit}
.ki img {
  position: relative;
  top:8px;
  border-radius: 50%;
  width: 48px;
  box-shadow: 0 0 2px 2px rgba(16,240,80,1);
}
.ki img:first-child{left: 8px}
.panels{
  display: grid;
  grid-template-columns: auto;
}
#ivst,#switch {
  display:none;border:none
  }
.panels div:nth-child(1),.panels div:nth-child(2) {
  border:4px dashed #ffc107;
  padding: 0 5% 0;
  padding: 25px;
  background: #170229;
  border-radius: 10px
}
.panels div:nth-child(1){
  margin: 0 15px 15px 0;
  border-right: none;
  /*Just on the mobile view*/
  margin-bottom: 0;
  border-bottom: none
}
.panels div:nth-child(2){
  margin: 0 0 15px 0;
  border-left: none;
}
.hr1{
  color: transparent;
  border-top: 16px dotted #ea39b8;
  max-width: 50%
}
.fore{color: gold !important;font-weight:400}
#cw_m{color: #f23;font-weight: bold;text-shadow: 1px 1px 5px rgba(255,127,127,0.5)}


@media(min-width:641px){
  .panels{
    display: grid;
    grid-template-columns: auto auto;
  }
  .panels div:nth-child(1){
  /*Revert the mobile view*/
  margin: 0 15px 15px 0;
  border:4px dashed #ffc107;
  border-right: none;
  }
}